<header class="p-3 bg-dark text-white">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none my-2 nav col-12 col-lg-auto me-lg-auto justify-content-center" href="/">
				<span class="fs-4">SULEJ.CH</span>
			</a>

			<div class="text-end">
				<button class="btn btn-outline-light me-2" type="button">Login</button>
				<button class="btn btn-warning" type="button">Sign-up</button>
			</div>
		</div>
	</div>
</header>
