:root {
    --text-primary: #ccc9ec;
    --text-secondary: #a7a1e6;
    --accent: #524dad;
    --accent-opacity: #3c35cc;
    --bg-color: #0b0a18;
    --elevation-one: #27276b;
    --elevation-two: #0c0a26;
    --elevation-three: #080629;
    --elevation-four: #262632;
    --elevation-five: #1a1932;
    --button-bg: #0c0a26;
    --button-accent: #524dad;
    --button-side: #524dad;
    --tooltip-bg: #302c65;
    --tooltip-color: #ccc9ec;
}
