<app-header></app-header>

<main class="container d-flex flex-column justify-content-center align-items-center pt-5">
	<div class="text-center mb-3">
		<h1>Welcome to Sulej.ch</h1>
	</div>

	<div class="row justify-content-center my-3" style="height: 69vh;">
		<div class="alert alert-info d-flex flex-column mh-100" role="alert">
			<h4 class="alert-heading">Informational Video</h4>
			<p>For more information, please watch the following video.</p>
			<hr>
			<div class="video-container" style="min-height: 0;">
				<video autoplay class="w-100 mh-100" controls loop src="./assets/v12044gd0000coqp4enog65ls0qbpqo0.mp4"></video>
			</div>
		</div>
	</div>

	<div class="text-center mt-3">
		<button class="btn btn-primary" onclick="location.href='mailto:arlind@sulej.ch';">Contact Me</button>
	</div>
</main>
